.buttonAddCart{
    margin-top: 10px;
}

.svgCarrito{
    margin-bottom: 5px;
  }

  .divAddCart{
    display: flex;
    flex-direction: row;
    margin-top: 55px;

    button{
        width: 10%;
        height: 100%;
        font-size: 1em;
        font-weight: bold;
        margin: 4px 5px;
    }
    p{
        border: 1px solid black;
        border-radius: 7px;
        padding: 10px;
        font-size: 1em;
        margin-right: 10px;
    }
  }