nav{
    background-color: rgb(255, 255, 255);
    border-bottom: rgb(180, 181, 181) 2px solid ;
    position: fixed !important;
    z-index: 999;
    width: 100%;
    margin-top: -90px;
    
    a{
        font-family: 'Poppins', sans-serif;
        padding: 10px;
    }

    .title{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 3em;
        margin-top: -40px;
        margin-bottom: -40px;
        color: black;
        &:hover{
            color: #606060;
        }
    }
    .link{
        color: #606060;
        font-size: 0.9em;
        padding-left: 30px!important;
        &:hover{
            color:#3097db;
        }
    }
    .slogan{
        font-family: 'Poppins', sans-serif;
        margin-left: 220px;
        font-weight: 300;
        color: #3097db;
        font-size: 1.3em;
    }
  }

